/* css general */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background: #fbfbfb;
}
/* manejo textos */
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}

/* fin manejo textos */

/* colores background */
.bg-gray-2{
    background: #333333;
}

.bg-gray-1{
    background: #BDBDBD;
}
.text-gray-2{
    color: #333333;
}

.text-gray-1{
    color: #BDBDBD;
}
a {
    text-decoration: none;
}
/* margin-top */
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}
/* paddign right */
.pr-1{
    padding-right: 10px;
}
.pr2{
    padding-right: 20px;
}
.pr-3{
    padding-right: 30px;
}
.pr-4{
    padding-right: 40px;
}
/* margin right */
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}
/* fin css general */
.container{
    width: 100%;
    display: flex;
}
/* sidebar */
.sidebar{
    height: 100vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10%;
}
.icono-menu{
    font-size: 30px;
}
.icono-search{
    font-size: 30px;
    margin-top: 100px;
}
.container-redes{
    width: 100%;
    margin-top: 90px;

}
.redes-sidebar{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: rotate(-90deg);
    padding-block: 40px;
}
/* fin sidebar */
.contenido{
    width: 90%;
}

.box-menu{
    width: 100%;
}
.menu{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
}
.background-1 {
    background: url('/images/background-1-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu li {
    /* border: solid 1px blue; */
    list-style: none;
    line-height: 50px;
}
.titulo-logo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.logo-user{
    width: 100%;
    overflow: hidden;
    /* background: red; */
}
.logo-user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.menu{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}


/* textos principal contenido */

.texto-principal-box{
    margin-top: 70px;
    margin-left: 110px;
}
.titulo {
    color: #BDBDBD;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
}
.subtitulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    color: #333333;
}
.texto-small{
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.card-video-box{
    width: 279px;
    height: 200px;
    background-image: url('/images/card-video.jpg');
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.icon-video{
    width: 50px;
    height: 50px;
    position: relative;
    top : 140px;
    left: 14px;
    font-size: 50px;
}

.btn-volver,.btn-siguiente{
    height: 60px;
    width: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    line-height: 70px;
}

.box-btn-next{
    text-align: center;
    display: grid;
    grid-template-columns: 30%  10% repeat(3, 5%) 10% 27% 5%;
}

.btn-volver *, .btn-siguiente * {
    font-size: 30px;
}

.circulo-next-galery{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-slider{
    position: absolute;
    bottom:0px;
    height: 190px;
    background: #fbfbfb;
    border-radius: 5px;
}
.text-slider div {
    margin-top: 100%;
    transform: rotate(90deg);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
